!!! 5
%html
  %head
    = bootstrap_assets
    %script(src="/chosen/chosen.jquery.js")
    %link(rel="stylesheet" href="/chosen/chosen.css")
    :css
      i.example {
        text-decoration: underline;
      }
  %body
    %a(href="http://github.com/k3rni/mctechtree")
      %img(style="position:absolute; top:0; right:0; border:0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub")
    - container :fixed do
      .row
        .span4
          %h1 MCTechTree
        .span8.hidden-phone
          %h3 includes recipes from
          .row
            - recipe_counters.in_groups_of((recipe_counters.size / 2).ceil).each do |grp|
              .span4
                %dl
                  - grp.each do |cluster, count|
                    %dt.span2= I18n.t "clusters.#{cluster}"
                    %dd.span1= count
      = yield
    :javascript
      $('.chzn-select').chosen({search_contains: true})
